<!DOCTYPE html>
<html>
<head>
	<title>Kite CS Angular Starter</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <% if (htmlWebpackPlugin.options.cordova) { %>
    	<script src="cordova.js"></script>
    <% } %>
</head>
<body>
	<ion-app></ion-app>
    <% if (!htmlWebpackPlugin.options.prod) { %>
		<%= '<' %>script src="/polyfill.dll.js"<%= '>' %><%= '<' %>/script<%= '>' %>
		<%= '<' %>script src="/vendor.dll.js"<%= '>' %><%= '<' %>/script<%= '>' %>
    <% } %>
	<script src="index.js"></script>
</body>
</html>
